// trangchi tiet
.noidung{
  .tieudechitiet{
     font-size: 20pt;
     color: #4b4b85;
     font-weight: 500;
    p{
      background: #eeeeee;
    }
  }
  .thongtinchitiet{

  }
  .anhchitiet{
    width: 100%;
    img{
      width: 100%;
    }
  }
}